<h1>Student List</h1>

<dx-data-grid
  [dataSource]="students"
  [showBorders]="true"
  keyExpr="id"
  [remoteOperations]="false"
  (onRowInserted)="onRowInserted($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowRemoved)="onRowRemoved($event)"
>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-filter-row [visible]="false"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search student"></dxo-search-panel>

  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
    [useIcons]="true"
  >
<dxo-popup [showTitle]="true" title="Student Details" [width]="600" [height]="350"></dxo-popup>
  <dxo-form>
    <dxi-item dataField="name" [isRequired]="true" editorType="dxTextBox"></dxi-item>
    <dxi-item dataField="email" [isRequired]="true" editorType="dxTextBox"></dxi-item>
    <dxi-item dataField="phone" [isRequired]="true" editorType="dxTextBox"></dxi-item>
  </dxo-form>
</dxo-editing>

  <dxi-column dataField="name" caption="Name"></dxi-column>
  <dxi-column dataField="email" caption="Email"></dxi-column>
  <dxi-column dataField="phone" caption="Phone"></dxi-column>
</dx-data-grid>
